html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 2rem 0 2rem;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.emmet-layout {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
}

/* FIXME: set #id or .class */
/* FIXME: #id vs .class */
.emmet-layout > p {
  margin: 0;
}

.emmet-input {
  /* The input area and code should have the same width */
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

.emmet-code {
  /* The input area and code should have the same width */
  box-sizing: border-box;
  width: 100%;
  /* Fill the remaining space */
  flex: 1;
}

.emmet-ac {
  /* center */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  color: green;
  font-size: 128px;
}
