html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* TODO: Why `flex` is required to not overflow the screen width? */
  display: flex;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 2rem 0 2rem;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
}

header > h1 {
  margin: 0.2rem 0px 0.2rem 0px;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.emmet-problem-title {
  font-size: 32px;
  /* TODO: is top margin zero good idea? */
  margin: 0 0 0.2rem 0;
  padding: 0;
}

.emmet-layout {
  width: 100%;

  /* FIXME: This is too big. */
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
}

/* FIXME: set #id or .class */
/* FIXME: #id vs .class */
.emmet-layout > p {
  margin: 0;
}

.emmet-input {
  /* The input area and the code should have the same width */
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

.emmet-code {
  /* The input area and the code should have the same width */
  box-sizing: border-box;
  width: 100%;
}

.emmet-ac {
  /* center */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  color: green;
  font-size: 128px;
}
