html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* TODO: Why `flex` is required to not overflow the screen width? */
  display: flex;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 0rem 0 0rem;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
}

header {
  background: yellow;
}

header > h1 {
  margin: 0.2rem 0px 0.2rem 0px;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
}

.emmet-problem-title {
  font-size: 32px;
  /* TODO: is top margin zero good idea? */
  margin: 0 0 0.2rem 0;
  padding: 0;
}

/* TODO: CSS naming rule, such as this:
   https://qiita.com/laineus/items/31108ce10259ef996c8c */
.emmet-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.emmet-sidebar {
  background: green;
  padding: 0px 1rem -0px 1rem;
  margin: 0;
}

.emmet-layout {
  margin: 0px 2rem 0px 24px;

  /* FIXME: This is too big. */
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
}

/* TODO: proper internal name for "Expected" */
/* FIXME: set #id or .class */
/* FIXME: #id vs .class */
.emmet-layout > p {
  margin: 0;
}

.emmet-input {
  resize: none;
}

.emmet-code {
}

.emmet-ac {
  /* center */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  color: green;
  font-size: 128px;
}
